node_modules
.tmp
.sass-cache
node_modules
.tmp
.sass-cache
.idea
npm-debug.log
logs/*
.maintenance

*.log
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/uploads/wc-logs
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/themes/twentyeleven

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
*logs/*
/wp-content/uploads/woocommerce_uploads/
/wp-content/uploads/wpallimport/
/wp-content/uploads/mc4wp-debug-log.php
/wp-content/plugins/simple-post-gallery/cache/*

wp-config.php